<div class="navbar navbar-expand-sm navbar-dark navbar-lewagon sticky-top">
  <div class="container-fluid">
    <%= link_to root_path do %>
      <%= image_tag "logo.png", class: "logo"  %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="offcanvas offcanvas-end our-offcanvas" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <% if user_signed_in? %>
        <div class="offcanvas-header">
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <h5 class="offcanvas-title my-2" id="offcanvasNavbarLabel">Hello <%= current_user.username.capitalize %></h5>
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item">
              <%= link_to "All Hikes", hikes_path, class: "nav-link active text-dark" %>
            </li>
            <li class="nav-item">
              <%= link_to "My Hikes", likes_path, class: "nav-link active text-dark" %>
            </li>
            <li class="nav-item">
              <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "nav-link active text-dark" %>
            </li>
          </ul>
        </div>
      <% else %>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item">
              <%= link_to "Login", new_user_session_path, class: "nav-link text-dark" %>
            </li>
          </ul>
        </div>
      <% end %>
    </div>
  </div>
</div>
