<%= link_to "Add a new Hike", new_hike_path, class: "btn our-button" %>
<div class="container">
  <div class="cards m-4">
    <% @hikes.each do |hike| %>
      <div class="card-trip">
        <% if hike.photos.any? %>
          <%= cl_image_tag hike.photos[0].key, alt: "Card image cap" %>
        <%end%>
        <div class="card-trip-infos">
          <div class="card-trip-title">
            <h2><%= hike.name %></h2>
            <p><%= hike.description %></p>
          </div>
          <div>
            <p class="card-text">Difficulty level: <%= hike.difficulty_level %></p>
            <p class="card-text">Distance: <%= hike.length %> km</p>
            <p>Ascent: <%= hike.ascent %> m</p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
