
<div class="container">

  <div style="width: 100%; height: 600px;"
    data-controller="mapbox"
    data-mapbox-markers-value="<%= @markers.to_json %>"
    data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>

  <%= link_to "Add a new Hike", new_hike_path, class: "btn our-button mt-3 mx-4" %>

  <div class="cards m-4">
    <% @hikes.each do |hike| %>
      <div class="card-trip">

          <i class="fas fa-heart image-icon"></i>

        <% if hike.photos.any? %>
          <%= cl_image_tag hike.photos[0].key, alt: "Card image cap" %>
        <%end%>
        <%= link_to hike_path(hike), class:"text-decoration-none link" do %>
          <div class="card-trip-infos">
            <div class="card-trip-title">
              <h2><%= hike.name %></h2>
              <p class="text-hidden"><%= hike.description %></p>
            </div>
            <div>
              <p class="card-text">Difficulty level: <%= hike.difficulty_level %></p>
              <p class="card-text">Distance: <%= hike.length %> km</p>
              <p>Ascent: <%= hike.ascent %> m</p>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
