<% @hikes.each do |hike| %>
  <p><%= hike.name %></p>
  <p><%= hike.description %></p>
  <p><%= hike.difficulty_level %></p>
  <p><%= hike.length %></p>
  <p><%= hike.ascent %></p>
  <p><%= hike.descent %></p>
<% end %>
