<div class="container bg-white" data-controller="filter">

  <div style="width: 100%; height: 300px;"
    data-controller="mapbox"
    data-mapbox-markers-value="<%= @markers.to_json %>"
    data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
  <% if policy(@hikes).create? %>
    <%= link_to "Add a new Hike", new_hike_path, class: "btn our-button mt-3 mx-4" %>
  <% end %>
  <div class="our-container-form mt-3" data-filter-target="filters">
    <%= simple_form_for :filter, url: hikes_path, method: :get do |f| %>
        <%= f.input :difficulty_level, required: false, prompt: "Select here", collection: Hike::LEVELS %>
        <p data-filter-target="text" data-action="click->filter#displayForm">More filters...</p>
    <div class="d-none" data-filter-target="form" >
      <%= f.input :length, as: :range, required: false, label_html: { data: {filter_target: 'lengthLabel' }}, input_html:{ min:"0", max:"40", data:{action:"change->filter#updateLength"}}%>
        <input type="hidden" data-filter-target="length" id="textInput" value=" km">
      <%= f.input :altitude_gain, as: :range, required: false, label_html: { data: {filter_target: 'altitudeLabel' }}, input_html:{ min:"0", max:"3000", data:{action:"change->filter#updateAltitude"}}%>
        <input type="hidden" data-filter-target="altitude" id="textInput" value=" m">
      <p data-action="click->filter#hideForm">Less filters...</p>
    </div>
    <%= f.submit "Filter", class: "our-button" %>
    <% end %>
  </div>

  <div class="cards m-4">

    <% @hikes.each do |hike| %>
      <div class="card-trip">

          <% if @my_likes.find_by(hike_id: hike).present? %>
            <%= link_to like_path(@my_likes.find_by(hike_id: hike)), method: :delete do %>
              <i onclick="myFunction(this)" class="fas fa-heart fa-heart-red img-icon"></i>
            <% end %>
          <% else %>
            <%= link_to hike_likes_path(hike), method: :post do %>
              <i onclick="myFunction(this)" class="fas fa-heart img-icon"></i>
            <% end %>
          <% end %>


        <% if hike.photos.any? %>
          <%= cl_image_tag hike.photos[0].key, alt: "Card image cap" %>
        <%end%>
        <%= link_to hike_path(hike), class:"text-decoration-none link" do %>
          <div class="card-trip-infos">
            <div class="card-trip-title">
              <h2 class="text-hidden"><%= hike.name %></h2>
              <p class="text-hidden"><%= hike.description %></p>
            </div>
            <div>
              <p class="card-text">Difficulty level: <%= hike.difficulty_level %></p>
              <p class="card-text">Distance: <%= hike.length %> km</p>
              <p>Ascent: <%= hike.ascent %> m</p>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<script>
function myFunction(x) {
  x.classList.toggle("fa-heart-red");
}
</script>
