
<div class="container bg-white">

      <div
        data-controller="cam"
        data-cam-api-key-value="<%= ENV['OPEN_CAM_KEY'] %>"
        data-cam-latitude-value=<%= @hike.latitude %>
        data-cam-longitude-value=<%= @hike.longitude %>
      >
      <p>5kms radius webcams</p>
      <ul data-cam-target="output" class="list-unstyled">
      </ul>
    </div>

  <div class="d-flex justify-content-between mb-3 pt-3 ms-3 font">
    <%= "⭐" * Review.average_rating(@hike)%>

    <div
      data-controller="weather"
      data-weather-latitude-value=<%= @hike.latitude %>
      data-weather-longitude-value=<%= @hike.longitude %>
      data-weather-api-key-value="<%= ENV['OPEN_WEATHER_KEY'] %>"
      >
      <div data-weather-target="output" class="d-flex justify-content-between">
      </div>
    </div>

    <% if @like.present? %>
      <%= link_to like_path(@like), method: :delete do %>
        <i onclick="myFunction(this)" class="fas fa-heart fa-heart-red img-icon me-3"></i>
      <% end %>
    <% else %>
      <%= link_to hike_likes_path(@hike), method: :post do %>
        <i onclick="myFunction(this)" class="fas fa-heart img-icon me-3"></i>
      <% end %>
    <% end %>

  </div>

   <% if current_user.present? %>
    <div class="d-flex justify-content-evenly">
      <% if policy(@hike).edit? %>
        <%= link_to "Edit the Hike", edit_hike_path(@hike), class: "btn btn-sm our-button-sm mb-3" %>
        <%= link_to 'Delete', @hike, class:"btn btn-sm our-button-sm  mb-3", method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
    </div>
  <% end %>

  <div class="line-sm"></div>


  <h2 class="text-center my-3"><%= @hike.name %></h2>
  <% if @hike.map_photo.present? %>
    <a href="https://map.schweizmobil.ch/?lang=en&land=wanderland&route=all&layers=Wanderland&photos=yes&logo=yes&detours=yes&season=summer&resolution=84.09&E=2670960&N=1237299&bgLayer=pk" target="_blank">
      <%= cl_image_tag @hike.map_photo.key, class:"d-block w-100", alt:"..." %>
    </a>
  <% end %>


  <div class="d-flex justify-content-between flex-wrap m-2">
    <div>
      <p class="d-flex">
        <i class="fas fa-mountain m-1" style="color: #01B2B2"></i>
        Difficulty level: <%= @hike.difficulty_level %>
      </p>
      <p class="d-flex">
        <i class="fas fa-clock m-1" style="color: #01B2B2"></i>
        Hiking time: <%= @hike.hiking_time %>
      </p>
      <p class="d-flex">
        <i class="fas fa-arrows-alt-h m-1" style="color: #01B2B2"></i>
        Length: <%= @hike.length %> km
      </p>
    </div>
    <div>
      <p class="d-flex">
      <i class="fas fa-angle-double-up m-1" style="color: #01B2B2"></i>
        Ascent: <%= @hike.ascent %>m
      </p>
      <p class="d-flex">
      <i class="fas fa-angle-double-down m-1" style="color: #01B2B2"></i>
        Descent: <%= @hike.descent %>m
      </p>
      <p class="d-flex">
        <% if @hike.dog_friendly %>
          <i class="fas fa-dog m-1" style="color: #01B2B2"></i>
          Dog friendly
        <% end %>
      </p>
    </div>
  </div>
<div class="row m-4">
  <%= link_to "Back to hikes", hikes_path, class: "btn btn-outline-dark mt-1 col-sm-8 col-md-4" %>
</div>
  <h3 class="text-center mb-3 mt-5">Description</h3>
  <p class="mx-5 mb-4"><%= @hike.description %></p>
  <div class="line"></div>

  <h3 class="text-center my-3">Services</h3>
  <p class="mx-5 mb-4"><%= @hike.services %></p>
  <div class="line"></div>

  <h3 class="text-center my-3">Image gallery</h3>
  <% if @hike.photos.any? %>
    <div id="carouselExampleSlidesOnly" class="carousel slide mb-3" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <%= cl_image_tag @hike.photos[0].key, class:"d-block w-100 height-250", alt:"..." %>
        </div>
        <% @hike.photos[1..-1].each do |photo| %>
          <div class="carousel-item">
            <%= cl_image_tag photo.key, class:"d-block w-100 height-250", alt:"..." %>
          </div>
        <% end %>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  <% end %>

  <div>
    <div data-controller="form">
      <div>
        <p class="me-3 text-end" data-form-target="imagetext" data-action="click->form#displayImage">Upload an image <i class="fas fa-chevron-down"></i></p>
      </div>
      <div data-form-target="image" class="d-none mx-3 py-3">
        <%= simple_form_for [ @hike ] do | f | %>
          <%= f.input :photos, as: :file, input_html: { multiple: true } %>
          <%= f.submit "Upload an image", class: "btn btn-primary" %>
        <% end %>
        <p data-action="click->form#hideImage" class="text-center"> <i class="fas fa-chevron-up"></i> </p>
      </div>
      <div class="line-sm mb-3"></div>

      <div>
        <p class="me-3 text-end" data-form-target="text" data-action="click->form#displayForm">Leave a review <i class="fas fa-chevron-down"></i></p>
      </div>
      <div data-form-target="review" class="d-none mx-3 py-3">
        <%= simple_form_for [ @hike, @review ] do | f | %>
          <%= f.input :content %>
          <%= f.input :rating %>
          <%= f.submit "Leave a review", class: "btn btn-primary" %>
        <% end %>
        <p data-action="click->form#hideForm" class="text-center"> <i class="fas fa-chevron-up my-2"></i> </p>
        <div class="line-sm"></div>
      </div>

    </div>
  </div>

  <h3 class="text-center mt-5">
    <%= pluralize @hike.reviews.size, "review" %>
  </h3>
  <div class="line-sm"></div>
  <div class="pb-3"></div>

  <% @reviews.each do | review | %>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <p class="mx-3 "><%= review.content %></p>
        <div class="d-flex justify-content-between">
          <p class="mx-3 lighter-p"> - <%= review.user.username %></p>
          <div class="mx-2">
            <%= "⭐" * review.rating %>
          </div>
        </div>
        <% if current_user.present? %>
          <% if policy(review).destroy? %>
            <%= link_to 'Delete', review, class:"btn btn-sm btn-primary mx-3", method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
          <% if policy(review).edit? %>
            <%= link_to "Edit the Review", edit_review_path(review), class: "btn btn-sm btn-primary" %>
          <% end %>
        <% end %>
        <div class="line"></div>
      </li>
    </ul>
  <% end %>

</div>

<script>
function myFunction(x) {
  x.classList.toggle("fa-heart-red");
}
</script>
