
<%= @hike.name %>
<%# <p>Hiking Time: <%= @hike. %></p>
<p>Length: <%= @hike.length %></p>
<p><% if @hike.dog_friendly %>
  Dog Friendly
  <% end %>
</p>

<h4>Description of your hike</h4>
<p><%= @hike.description %></p>

<h4>Difficulty Level</h4>
<p><%= @hike.difficulty_level %></p>

<h4>Altitude gain </h4>
<p><%= @hike.ascent - @hike.descent %></p>

<h4>Services</h4>
<p><%= @hike.services %></p>

<%= simple_form_for [ @hike, @review ] do | f | %>
  <%= f.input :content %>
  <%= f.input :rating %>
  <%= f.submit "Leave a review", class: "btn btn-primary" %>
<% end %>

<%= simple_form_for [ @hike ] do | f | %>
  <%= f.input :photos, as: :file, input_html: { multiple: true } %>
  <%= f.submit "Upload an image", class: "btn btn-primary" %>
<% end %>


<% if @hike.photos.any? %>
  <%= cl_image_tag @hike.photos[0].key %>
<%end%>


<%= Review.average_rating(@hike) %>

<%# <% @reviews.each do | review | %>

<%# <% end %>
