
<%= @hike.name %>
<%# <p>Hiking Time: <%= @hike. %></p>
<p>Length: <%= @hike.length %></p>
<p><% if @hike.dog_friendly %>
  Dog Friendly
  <% end %>
</p>

<h4>Description of your hike</h4>
<p><%= @hike.description %></p>

<h4>Difficulty Level</h4>
<p><%= @hike.difficulty_level %></p>

<h4>Altitude gain </h4>
<p><%= @hike.ascent - @hike.descent %></p>

<h4>Services</h4>
<p><%= @hike.services %></p>
