<!DOCTYPE html>
<html>
  <head>
    <title>HikeFinder</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">




    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>


<!-- Import Mapbox GL JS  -->
  <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v2.8.1/mapbox-gl.js'></script>
  <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v2.8.1/mapbox-gl.css' rel='stylesheet' />
  <!-- Import Assembly -->
  <link href='https://api.mapbox.com/mapbox-assembly/v1.3.0/assembly.min.css' rel='stylesheet'>
  <script src='https://api.mapbox.com/mapbox-assembly/v1.3.0/assembly.js'></script>





    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>



  </head>

  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>

      <%= yield %>

    <%= render 'shared/footer' %>

  </body>
</html>
